/* work sans from google sans */

/* shared styles */
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
/* header styles */

/* nav section */
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 120px;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo-container h3{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}
.span{
    color: #FF42A5;
}
.nav-item-container a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
}
.follow{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px;
}
.nav-item-container a img{
    width: 20px;
    object-fit: cover;
}
.nav-item-container a:hover{
    color: #FF42A5;
}
button{
    cursor: pointer;
    border: none;
}
/* banner section */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.banner-content{
    background-image: url('../images/Group\ 14.png');
    width: 700px;
    height: 680px;
}
.banner-title{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 150px;
    padding-left: 100px;
}
.banner-goat{
    font-size: 90px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 10px;
    padding-left: 100px;
}
.banner-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
    text-transform: lowercase;
    display: inline-flex;
    align-items: flex-start;
    padding-top: 15px;
    padding-left: 100px;
    gap: 10px;
}
.btn{
    display: flex;
    text-align: center;
    padding-top: 15px;
    padding-left: 100px;
    gap: 15px;
    cursor: pointer;
    
}
.btn-primary{
    border-radius: 48px;
    background: #FF42A5;
    padding: 15px 30px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.btn-primary:hover{
    color: #0B0223;
}
.btn-secondary:hover{
    color: #0B0223;
}
.btn-secondary{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 15px 30px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-img{
    margin-right: 30px;
}
/* main part styles */
.game-section{
    margin-top: 100px;
}
.games-container{
    text-align: center;
    
}
.game-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.game-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.game-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
}
.card-container{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 170px;
    margin-right: 170px;
    display: flex;

}
.card{
    margin: 0 auto;
    max-width: 200px;
    max-height: 450px;
    border-radius: 16px;
}
.card-img{
    max-width: 200px;
    border-radius: 16px;
}
.card-img:hover{
    border: 2px solid #FF42A5;
}
.card-description{
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
}
/* play section */
.play-container{
    margin-top: 150px;
    gap: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.play-content{
    padding-left: 120px;
    padding-bottom: 250px;
}
.play-title{
    max-width: 341px;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.play-span{
    color: #F948B2;
}
.play-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 350px;
    padding-top: 15px;
}
.play-img img{
    height: 80%;
    width: 550px;
    margin-right: 50px;
}
.small-img img{
    width: 40%;
    position: relative;
    bottom: 250px;
    right: 100px;
}
/* button section  */
.button-section{
    height: 250px;
    margin-top: -100px;
    margin-left: 140px;
}
.button-section img{
    width: 13%;
}
.btn-four{
    margin-top: 50px;
    margin-left: 70px;
}
.common-btn{
    color: #0B0223;
    font-size: 18px;
    font-weight: 600;
    border-radius: 45px;
    background: #FFF;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
}
.common-btn:hover{
    border: 1px solid #FF42A5;
    color: #FF42A5;
}
/* footer styles */
.footer-container{
    background-color:#0B0223;
}
.footer-logo{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-logo h3{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
}
.footer-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 30px;
}
.list-items{
    color: #FFF;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 30px;
    cursor: pointer;
}
.footer-list-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 30px;
}
.footer-list-2 li{
    list-style: none;
}
.list-items-2 small{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.footer-container p{
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 60px;
}








    /* media query */
@media screen and (max-width:576px) {
    .nav-container, .card-container{
        flex-direction: column;
    }
    .nav-container, .logo-container{
        padding-top: 30px;
        
    }
    .nav-item-container{
        text-align: center;
    }
    .nav-item-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .nav-item-container a{
        padding-top: 10px;
    }
    .follow{
        margin-top: 10px;
    }
    .nav-container{
        box-shadow: none;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-img{
        padding-top: 50px;
        width: 80%;
        padding-left: 20px;
    }
    .banner-img img{
        height: auto;
        width: 100%;
    }
    .banner-content{
        width: 100%;
        height: auto;
        text-align: center;
        padding-top: 20px;
    }
    .banner-title{
        margin: 0px;
        padding: 0px;
    }
    .banner-goat{
        padding: 0px;
    }
    .banner-description{
        padding: 0px;
        display: flex;
        padding-left: 50px;
    }
    .btn{
        padding: 10px 0px 0px 50px;
    }
    .game-section{
        margin-top: 50px;
    }
    .games-container{
        padding-left: 10px;
    }
    .game-title{
        font-size: 30px;
    }
    .game-description{
        font-size: 12px;
    }
    .card-container, .card{
        padding: 25px 0px 0px 50px;
        margin: 0px;
    }
    .card-description{
        padding-top: 2px;
    }
    .play-container{
        margin-top: 40px;
       display: flex;
       flex-direction: column;
    }
    .play-content{
        padding: 0px;
        margin: 0px;
    }
    .play-title{
        height: auto;
        color: #0B0223;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }
    .play-description{
        color: #534C64;
        font-size: 14px;
        font-weight: 400;
        padding-top: 5px;
        text-align: center;
    }
    .play-img{
        width: 80%;
        margin-top: -50px;
        margin-left: 40px;
    }
    .play-img img{
        width: 90%;
        height: auto;
    }
    .play-img .small-img{
        width: 40%;
        position: relative;
        left: 50px;
        top: 120px;
    }
    .small-img img{
        width: 100%;

    }
    .button-section{
        margin-left: 0px;
        padding-left: 20px;
    }

    .common-btn{
        font-size: 12px;
    }
    .btn-five{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap: 10px;
    }
    .btn-four{
        margin-left: -0px;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .footer-list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        padding-left: 30px;
        padding-top: 40px;
    }
    .footer-icon{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding-left: 50px;
        padding-top: 40px;
    }
    .footer-list-2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
        padding-left: 55px;
        padding-top: 40px;
    }
    .footer-container p{
        max-width: 200px;
        padding-left: 100px;
        padding-top: 40px;
        padding-bottom: 65px;
    }
}


/* media query for tablet */
@media screen and (min-width:576px) and (max-width:960px) {
    .nav-container{
        flex-direction: column;
    }
}